#prices{
    h2, p{
        margin: 0;
    }
    #cardPrices{
        margin: 5rem auto 0;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(min(20rem, 100%), 5rem));
        justify-content: center;
        max-width: 1200px;
        gap: 1rem;
        
    }
}


@media (max-width: 700px) {
    #prices{
        #cardPrices{
            .card{

            
                .illustration{
                    height: 10rem;
                }
                
            }
        }
    }
}

