#Hero{
    background: url('/public/pages/home/hero-bg-darker.jpeg');
    background-size: cover;
    background-position: center left;
}

#cardsHero{
    position: absolute;
    right: 0;
    bottom: 5rem;
    min-height: 10rem;
    min-width: 30rem;
    margin: 0 5rem;
    .cards{
        width: 25rem;
        height: 9rem;
        border-radius: 1rem;
        margin: 0 1rem;
        background: #e7e7e7ea;
        overflow: hidden;
        transition: all .3s ease-in-out;
        cursor: pointer;
        &:hover{
            transform: scale(1.02);
        }
        img{
            height: 100%;
            aspect-ratio: 1/1;
        }
        .full{
            margin: auto;
            padding: 0 2rem;
            p{
                margin: 0;
            }
        }

    }
    
}



#prices{
    h2, p{
        margin: 0;
    }
    #cardPrices{
        margin-top: 5rem;
        width: 100%;
        display: grid;
        grid-auto-flow: column;
        justify-content: center;
        gap: 3%;
        .card{
            width: 20rem;
            height: 100%;
            background: #fff;
            border-radius: 2rem;
            overflow: hidden;
            .cardText{
                padding: 2rem;
            }

            .illustration{
                width: 100%;
                height: 20rem;
                background-size: cover;
                background-position: center;
            }
            
        }
    }
}