.flex{
    display: flex;
    &.center{
        align-items: center;
    }
    &.justify{
        justify-content: space-between;
    }
    &.justify-center{
        justify-content: center;
    }
    &.flex-h{
        flex-direction: column;
    }
    &.flex-align{
        align-items: flex-start !important;
    }
    &.flex-h-spacing{
        align-content: space-between;
    }
    &.flex-wrap{
        flex-wrap: wrap;
    }
}

ul{
    list-style: none;
    li{
        margin: 0 1rem;
    }
}

a{
    text-decoration: none;
    color: black
}

.widthControl{
    max-width: 1224px
}


.margin{
    margin: 4rem auto;
}

.fullWidth{
    max-width: 85%;
    padding: 7rem 13rem;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

h1{
    margin: 0;
    font-size: 2.5rem;
    line-height: 3rem;
    font-weight: 600
}
h2{
    margin: 0;
}

.thin{
    font-weight: 300;
    font-size: 0.8rem;
    font-style: italic;
    margin: 0;
}

.onlyMobile{
    display: none;
}


/* Small devices (laptops/desktops, 992px and down) */
@media only screen and (max-width: 1224px) {
    html{
        text-align: center;
    }
    .flex{
        flex-direction: column;
    }
    .fullWidth{
        max-width: 85%;
        padding: 0;    
    }
    .onlyMobile{
        display: block;
    }
}