.flex{
    display: flex;
    &.center{
        align-items: center;
    }
    &.justify{
        justify-content: space-between;
    }
    &.justify-center{
        justify-content: center;
    }
    &.flex-h{
        flex-direction: column;
    }
    &.flex-align{
        align-items: flex-start !important;
    }
    &.flex-wrap{
        flex-wrap: wrap;
    }
    &.flex-Left{
        justify-content: flex-start;
    }
}

.gray{
    color:#707070 !important
}
.dark{
    color: #000 !important
}

.shadow{
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

ul{
    list-style: none;
    li{
        margin: 0 1rem;
    }
}



a{
    text-decoration: none;
    color: black
}


.margin{
    margin: 4rem auto;
}
.topMargin{
    margin-top: 10rem;;
}




.onlyMobile{
    display: none;
}

.white-Color{
    p, h1, h2, h3, h4, h5, a{
        color: #fff;
    }
}



.button{
    padding: 1.8rem 3rem;
    margin-top: 4rem;
    width: fit-content;
    font-weight: bold;
    border-radius: 2rem;
    background: #01aaf2d2;
    color: #fff;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
    transition: all .3s ease-in-out;
    &:hover{
        transform: scale(1.04);
    }
}



.st0{fill:#1e3968}.st1{fill:#027cba}





.left{
    width: 25%;
    height: 100%;
    background-color: #027cba;
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
}
.right{
    width: 75%;
    height: 100%;
    background-color: #027dba0c;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.card{
    position: relative;
    height: 100%;
    background: #fff;
    border-radius: 2rem;
    overflow: hidden;
    transition: all .3s ease-in-out;
    &:hover{
        transform: scale(1.02);
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
    }
    .cardText{
        padding: 2rem;
    }

    .illustration{
        width: 100%;
        height: 20rem;
        background-size: cover;
        background-position: center;
    }
    
}

.onMobile{
    display:none;
}


@media (max-width: 700px) {
    .notOnMobile{
        display:none;
    }
    .onMobile{
        display:block;
    }
    body{
        text-align: center;
    }
    .button{
        margin: 3rem auto 0;
    }
}