#numbers{
    padding: 0;
    text-align: center;
    div{
        margin: 0 7rem;
    }
}

.number{
    font-size: 3rem;
    font-weight: bolder;
    margin-bottom: 0;
}
.numberTitle{
    font-size: 1rem;;
    font-weight: bold;
}