#news{
    #cardNews{
        width: 100%;
        display: grid;
        margin: 5rem auto 0;
        grid-template-columns: repeat(auto-fit, minmax(min(40rem, 100%), 5rem));
        justify-content: center;
        gap: 3%;
        .card{
            width: 40rem;
        }
    }
}

@media (max-width: 700px) {
    #news{
        #cardNews{
            .card{
                width: 80%;
                margin: auto;
            }
        }
    }
}