#news{
    #cardNews{
        width: 80%;
        margin: auto;
        display: grid;
        grid-auto-flow: column;
        justify-content: center;
        gap: 3%;
        .card{
            width: 40rem;
        }
    }
}