#howTo{
    max-height: 45rem;
    background: rgb(16, 186, 231, 0.1);
    margin: auto;
    border-radius: 2rem;
    padding: 0;
    font-size: 1.3rem;
    overflow: hidden;
}

.halfRight{
    min-width: 45%;
    aspect-ratio: 2/2.5;
    background-image: url('/home/aboutIMG.jpg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}
.halfLeft{
    width:55%;
    height: 100%;
    ul{
        padding-left: 1rem;
    }
}
.aboutContent{
    min-width: 70%;
}

.smallIcons{
    max-height: 2rem;
    margin-right: 2rem;
}



/* Small devices (laptops/desktops, 992px and down) */
@media only screen and (max-width: 1224px) {
    #howTo{
        max-height: unset;
        .halfRight{
            display: none;
        }
        .halfLeft{
            width:70%;
            height: 100%;
            ul{
                padding-left: 0rem;
            }
            .smallIcons{
                margin-right: 0rem;
            }
        }
        .aboutContent{
            padding: 3rem 0;
        }
    }
}